/* Yleiset tyylit */
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;



}

/* Hero-osion tyylit */
/* Hero Section with Transparent Layer */
.hero {
    position: relative;
    /* allow for absolute positioning of the overlay */
    background-image: url('kuva/hero1.webp');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
}

/* Transparent Overlay */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 1;
}

/* Hero Content */
.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);

}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);

}

.hero-content .btn {
    background-color: rgb(221, 211, 211);
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    z-index: 3;

}

.hero-content .btn:hover {
    background-color: rgb(233, 233, 174);
}

/*  for Responsiveness */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 36px;

    }

    .hero-content p {
        font-size: 18px;

    }

    .hero-content .btn {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 28px;

    }

    .hero-content p {
        font-size: 16px;

    }

    .hero-content .btn {
        font-size: 14px;
        padding: 6px 12px;
    }
}



/* Ominaisuudet-osion tyylit */
.features {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

/* Flexbox layout for feature items */
.feature-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.feature-item {
    width: 30%;
    margin-bottom: 20px;
}

.feature-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 16px;
}

/*  for Responsiveness */

/* Tablets and smaller screens */
@media (max-width: 768px) {
    .feature-item {
        width: 45%;

    }

    .features h2 {
        font-size: 30px;

    }

    .feature-item h3 {
        font-size: 22px;
    }

    .feature-item p {
        font-size: 14px;
    }
}

/* Mobile devices */
@media (max-width: 480px) {
    .feature-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .features h2 {
        font-size: 26px;

    }

    .feature-item h3 {
        font-size: 20px;
    }

    .feature-item p {
        font-size: 14px;
    }
}

/* Footer */
footer {
    background-color: #161617;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-top: auto;
    width: 100%;


}




/* Lomakkeen tyylit */

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-grow: 1;

}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

input:focus {
    border-color: #E8E8E8;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    outline: none;
}

/* Custom styles for the form */

label {
    margin-bottom: 5px;
    font-size: 1rem;
}

form label {
    display: block;
}

form input {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;

}

/* Error and success messages */


.success {
    color: green;
    margin-bottom: 15px;
}

.error {
    color: red;
    font-size: 0.875rem;
    display: block;
    margin-top: 0.25rem;
}


input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;

}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    width: auto;
}

button:hover {
    background-color: #218838;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.strength {
    /* for password strength        */
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: red;
}

/*  For Responsive */
@media (min-width: 1024px) {
    .container {
        max-width: 500px;
        padding: 30px;
    }

    h1 {
        font-size: 32px;
    }

    label {
        font-size: 1.1rem;
    }

    input,
    button {
        font-size: 16px;
        padding: 12px;
    }

    button {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
    }

    h1 {
        font-size: 24px;

    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
        margin: 10px auto;
    }

    h1 {
        font-size: 20px;

    }

    label,
    input,
    button {
        font-size: 14px;

    }
}


/* CSS for styling confirmation link */
.confirmation-link {
    text-align: center;
    margin-top: 20px;
}

.confirmation-link a {
    color: #007bff;
    text-decoration: none;
}

.confirmation-link a:hover {
    text-decoration: underline;
}


/* CSS for styling login link */
.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
    width: fit-content;
}

.login-link a:hover {
    text-decoration: underline;
}